@model DEBA.Models.UserCredentialsController
<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        background: lightcyan
    }

    form {
        background-color: lightsteelblue;
        width: 400px;
        height: 600px;
        padding: 75px 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    h1 {
        text-align: center;
        margin-bottom: 45px;
        color: ghostwhite;
        font-size: 40px;
    }

    .textBoxdiv {
        position: relative;
        margin: 20px;
    }

        .textBoxdiv input {
            background:;
            border: none;
            outline: none;
            width: 100%;
            color: black
        }
        

    .loginBtn {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        background-color: red;
        background-size: 200%;
        color: bisque;
        font-size: 15px;
    }

        .loginBtn:hover {
            background-position: right;
            font-size: 17px;
        }
</style>

<head>
    <title><Digital One Bank</title>
    <link rel="stylesheet" href="DEBA.css"
</head>
<script>
    
    function validateForm() {
       
        let x = document.forms["myForm"]["UserNumber"].value;
        if (x == "") {
            alert("Name must be filled out")
            return false;
        }
    }
    function showAlert() {
        alert("Wrong user information inputted. Please input your in correct Credentials");
    }
</script>



<body>
    @using (Html.BeginForm()){     

        <h1><u>Digital One Bank</u> </h1>
        @Html.Raw(ViewData["error"] )
        <div >
            <label for="UserNumber">Please Enter Your User Number:</label>
        </div>
        <div class="textBoxdiv">
            @Html.TextBoxFor(x => x.UserNumber, new {  @class = "textBoxdiv" })
           
        </div>
        <div>
            <label for="PinNumber">Please Enter Your Pin Number:</label>
        </div>
        <div class="textBoxdiv">
            @Html.PasswordFor(x => x.PinNumber, new { @class = "textBoxdiv" })
        </div>
        <div class="loginBtn">
            <input type="submit" onclick="return validateForm()" Click Me value="Login" class="loginBtn">
            
        </div>
        
    }
    
</body>